@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --dark: #131313;
  --light-gray: #f1f1f1;
  --dark-violet: #662ECC;
  --light-violet: #8C52FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.perspective-500 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.bg-\[url\(\)\] {}